@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,500;0,600;0,700;1,800&display=swap");

:root {
  --ultramarine-blue: #525ee0;
  --space-cadet-2: #231f41;
  --pumpkin: #f76d02;
  --gray: #6f6b80;
}

/* #REST style  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: "Urbanist", sans-serif !important;
  background-color: #fff;
  color: var(--gray);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
}

/* #REUSED STYLE  */
.section {
  padding-block: 80px;
}

.section-subtitle {
  font-weight: 800;
  font-size: 16px;
  color: var(--ultramarine-blue);
  text-transform: uppercase;
  line-height: 26px;
}

.hero-title {
  font-weight: 800;
  font-size: 68px;
  color: var(--space-cadet-2);
  text-transform: capitalize;
  line-height: 88px;
}

.section-title {
  font-weight: 800;
  font-size: 40px;
  color: var(--space-cadet-2);
  text-transform: capitalize;
  line-height: 52px;
}

.topic {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #231f41;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #6f6b80;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* #HEADER  */
header {
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.logo {
  font-weight: 800;
  font-size: 24px;
  color: var(--ultramarine-blue);
}

.navbar .nav-link {
  font-weight: 600;
  font-size: 16px;
}

.navbar .nav-item:is(:hover, :focus) .nav-link {
  color: var(--ultramarine-blue);
}

.navbar button {
  padding: 10px 30px;
  background-color: var(--ultramarine-blue);
  color: #fff;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.navbar button:is(:hover, :focus-within) {
  background-color: #231f41;
}

.navbar .bx-search {
  padding: 12px;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: transparent;
  border-radius: 30px;
  padding: 0 14px;
  position: relative;
}

.search_input {
  color: var(--ultramarine-blue);
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 350px;
  border: 0.5px solid;
  border-radius: 100px;
  border-color: var(--ultramarine-blue);
  caret-color: var(--ultramarine-blue);
  transition: width 0.4s linear;
}

.searchbar:hover > .bx-search {
  background: var(--ultramarine-blue);
  border-color: var(--ultramarine-blue);
  color: #fff;
}

.bx-search {
  float: right;
  color: var(--ultramarine-blue);
  position: absolute;
  top: 0;
  right: 0;
}

/* #HERO  */
.hero-txt {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: var(--gray);
}

.hero button {
  padding: 10px 30px;
  background-color: var(--ultramarine-blue);
  color: #fff;
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
}

.hero .bx-right-arrow-alt {
  color: #fff;
}

.hero button:is(:hover, :focus-within) {
  background-color: #231f41;
}

.hero .hero-right {
  position: relative;
}

.hero-right .hero-banner {
  position: absolute;
  top: 0;
  left: 0;
}

.hero-right .abs-img-1 {
  position: absolute;
  top: 0;
  right: 0;
}
.hero-right .abs-img-2 {
  position: absolute;
  right: 140px;
  top: -140px;
}

/* #CATEGORY  */
.category-card {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 6px;
}

.category-card:is(:hover, :focus-within) {
  background-color: var(--ultramarine-blue);
}

.category-card:is(:hover, :focus-within) .bx {
  background-color: #646ee3;
  color: #fff;
}

.category-card:is(:hover, :focus-within) :is(a, .card-meta) {
  color: #fff !important;
}

.category-card h5 a {
  font-weight: 700;
  font: 20px;
  line-height: 26px;
  color: var(--space-cadet-2);
}

.category-card .card-meta {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray);
}

.category-card .bx {
  color: var(--ultramarine-blue);
  background-color: #fff;
}

/* #ABOUT  */
.about .about-banner {
  position: relative;
}

.about-banner .abs-2 {
  position: absolute;
  top: 100px;
  left: -120px;
  z-index: -1;
}

.about-banner .abs-1 {
  position: absolute;
  top: 170px;
  right: 70px;
}

.about .topic {
  margin-bottom: 5px;
}

.about .section-title {
  margin-block-end: 30px;
}

.about .icon-1 {
  background-color: #ffa31a1a;
  padding: 15px;
  border-radius: 50%;
}

.about .icon-2 {
  background-color: #edeefc;
  padding: 15px;
  border-radius: 50%;
}

.about .icon-3 {
  background-color: #fff2ee;
  padding: 15px;
  border-radius: 50%;
}

.about button {
  padding: 10px 30px;
  background-color: var(--ultramarine-blue);
  color: #fff;
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
}

.about .bx-right-arrow-alt {
  color: #fff;
}

.about button:is(:hover, :focus-within) {
  background-color: #231f41;
}

/* #COURSES  */
.course {
  background-image: url(../img/course-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.course .section-content {
  text-align: center;
}

.course-card {
  position: relative;
}
.course-card .card-banner {
  overflow: hidden;
  /* border-top-style: 50px; */
}

.course-card .img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.course-card:is(:hover, :focus-within) .img-cover {
  transform: scale(1.1);
}

.course-card .badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #fff;
  color: var(--ultramarine-blue);
  padding: 10px;
}

.course-card .bxs-heart {
  color: #fff;
  background-color: #b7b6bd;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.course-card .card-content {
  padding-inline: 20px;
  padding-block-end: 20px;
  color: #6f6b80;
}

.course-card .card-meta-list {
  display: flex;
  gap: 30px;
  padding: 0;
  color: #6f6b80;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.course-card span {
  display: inline;
}

.course-card .card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: var(--space-cadet-2);
}

.course-card .card-title:is(:hover, :focus) {
  color: var(--ultramarine-blue);
}

.course-card .rating-wrapper {
  display: flex;
  gap: 30px;
  margin-block: 10px;
}

.course-card .rating-wrapper span {
  color: #6f6b80;
}

.course-card .rating-wrapper .bx {
  color: #ffa31a;
}

.course-card .card-price span {
  color: var(--ultramarine-blue);
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

.course-card .card-meta-item {
  display: inline;
}

.course-card .card-footer {
  padding-block: 10px;
}

.course .btn {
  max-width: fit-content;
  padding: 10px 30px;
  background-color: var(--ultramarine-blue);
  color: #fff;
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.course .bx-right-arrow-alt {
  color: #fff;
}

.course .btn:is(:hover, :focus-within) {
  background-color: #231f41;
  color: #fff;
}

/* #WORKSHOP  */
.workshop {
  background-image: url(../img/cta-bg.png);
  background-color: var(--ultramarine-blue);
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
}

.workshop .btn {
  max-width: fit-content;
  padding: 10px 30px;
  background-color: #fff;
  color: var(--ultramarine-blue);
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  display: inline-block;
}

.workshop .bx-right-arrow-alt {
  color: var(--ultramarine-blue);
}

.workshop .btn:is(:hover, :focus-within) {
  background-color: #f76d02;
  color: #fff;
}

.workshop img {
  border-radius: 6px;
}

/* #EVENT  */

.event-card {
  position: relative;
  background: #f5f5f5;
}

.event-card .badge {
  position: absolute;
  background-color: var(--ultramarine-blue);
  color: #fff;
  padding: 5px 15px;
  border-radius: 0 50px 50px 0;
  top: 20px;
  left: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}

.event-card .card-content {
  padding-inline: 20px;
  padding-block-end: 20px;
}

.event-card .card-address {
  display: flex;
  align-items: center;
}

.event-card .bx {
  color: var(--ultramarine-blue);
}

.event-card .card-address span {
  color: #6f6b80;
  margin-block: 20px;
}

.event-card .card-title a {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: var(--space-cadet-2);
}

.event-card .card-title:is(:hover, :focus-within) a {
  color: var(--ultramarine-blue);
}

.event-card .btn-link span {
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
}

.event-card .btn-link {
  border-block-end: 2px solid transparent;
  transition: 0.25s ease;
  color: var(--ultramarine-blue);
  max-width: max-content;
}

.event-card .btn-link:is(:hover, :focus) {
  border-color: var(--ultramarine-blue);
}

/* #NEWSLETTER  */

.newsletter {
  background-image: url(../img/newsletter-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.newsletter .section-subtitle {
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0;
}

.newsletter .section-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 52px;
  margin-block-end: 50px;
}

.newsletter .input-wrapper {
  position: relative;
  max-width: 650px;
  left: 50%;
  transform: translateX(-50%);
}

.input-wrapper input {
  background: #fff;
  padding: 20px 40px;
  border-radius: 6px;
}

.input-wrapper ion-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.input-wrapper .btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px 30px;
  background-color: var(--ultramarine-blue);
  color: #fff;
  font-weight: 70;
  font-size: 18px;
  line-height: 29px;
}

.input-wrapper .btn:is(:hover, :focus-within) {
  background-color: var(--space-cadet-2);
  color: #fff;
}

/* #FOOTER  */
footer {
  background: var(--space-cadet-2);
  background-position: center;
  height: auto;
  color: #fff;
}

footer .logo {
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  line-height: 38px;
  margin-block-end: 30px;
}

footer .text {
  font-weight: 500;
  font: 16px;
  line-height: 26px;
  color: #fff;
}

footer .social-icons .bx {
  background-color: #fff;
  color: var(--ultramarine-blue);
  padding: 8px;
  transition: 0.5s ease;
}

footer .bx:is(:hover, :focus) {
  background-color: var(--ultramarine-blue);
  color: #fff;
}

footer li a {
  color: #fff;
}

footer li:is(:hover, :focus-within) :is(a, .bx-chevron-right) {
  color: var(--ultramarine-blue);
}

footer .text-md {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
}
